/* styles for the about page */

/* HERO SECTION */
.hero {

   margin-top: 0;

    .hero-info {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 3em;
        align-items: center;

        img {
            border-radius: 20px;
        }

        .info-text {
            h2 {
                font-size: 1.2rem;
            }

            p {
                max-width: 450px;
            }
        }
    }
}

/* dekstop */
@media screen and (min-width: 1023px) {
    .hero {
        .hero-info {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 5em;

            img {
                width: 500px;
                order: 1;
            }

            .info-text {
                width: 500px;

                h2 {
                    text-align: left;
                }
            }
        }
    }
}

/* INFO SECTION */
.info-section {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1em;

        .info-card {
            border: 1px solid #d9d9d9;
            border-radius: 20px;
            padding: 1em;
        }
    }
}

/* desktop */
@media screen and (min-width: 1023px) {
    .info-section {
        flex-direction: row;
        gap: 5em;

        .intro-text {
            align-self: center;

            h2 {
                text-align: left;
                margin-top: 0;
            }
        }

        /* .cards-container {
            order: -1;
        } */
    }
}

/* CONTACT SECTION */
.contact {
    margin-bottom: 4em;

    div {
        h2+p {
            max-width: 500px;
            margin: auto;
            margin-bottom: 2em;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2em;
        max-width: 500px;
        padding: 2em;
        border: 1px solid #d9d9d9;
        border-radius: 10px;
        margin: auto;

        div {
            width: 100%;
        }

        label {
            font-weight: 500;

        }

        input,
        textarea {
            font: inherit;
            display: block;
            width: 100%;
            padding: .6em;
            border: 1px solid #d9d9d9;
            border-radius: 10px;
            margin-top: .5em;
        }

        button {
            width: 100%;
            margin-top: .5em;
        }
    }
}

/* desktop */
@media screen and (min-width: 1023px) {
    .contact {
        display: flex;
        flex-direction: row;
        gap: 2em;
        justify-content: space-between;

        form {
            width: 500px;
            order: -1;
            margin: initial;
        }
    }
}