/* styles for the homepage */
section {

    h1+p,
    h2+p {
        margin: 2.5em 0;
    }
}

/* button style */
.cs-button {
    display: block;
    width: 100%;
    /* margin: 2em 0; */
    text-align: center;
}



/* HERO SECTION */
.hero {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
        max-width: 400px;
        margin: auto;
        margin-bottom: 2em;
    }

    .cs-button {
        margin: auto;
    }

}

/* desktop */
/* @media screen and (min-width: 1023px) {
    .hero {
        margin-top: 2em;
    }
} */

/* SERVICES SECTION */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    .service-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        .service {
            text-align: center;
            padding: 1em;
            border: 1px solid #d9d9d9;
            border-radius: 20px;
            max-width: 340px;

            svg {
                width: 50px;
                height: 50px;
                fill: var(--primary-color);
            }
        }
    }
}

/* tablet */
@media screen and (min-width: 600px) {
    .services {
        .service-cards {
            gap: 3em;

            .service {
                svg {
                    height: 70px;
                    width: 70px;
                }
            }
        }
    }
}

/* desktop */
@media screen and (min-width: 1023px) {
    .services {
        gap: 4em;

        .service-cards {
            width: 90%;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

/* COMPANY INFO SECTION */
.company-info {
    text-align: center;

    img {
        margin-bottom: 1em;
        border-radius: 10px;
        max-width: 400px;
    }

    div {
        text-align: center;
        max-width: 450px;
        margin: auto;

        /* p {
            margin: auto;
        } */

        .cs-button {
            margin: auto;
            margin-bottom: 2em;
            margin-top: 2em;
        }
    }
}

/* desktop */
@media screen and (min-width: 1023px) {
    .company-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3em;

         img {
           
            margin-bottom: 0;
            
        } 

        div {
            text-align: left;
            margin: 0;

            h2 {
                text-align: left;
            }

            .cs-button {
                margin: 2em 0;
            }

        }
    }
}

@media screen and (min-width: 1200px) {
    .company-info {
        img {
            max-width: 500px;
        }
    }
}

/* PRODUCT INFO SECTION */
.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        width: 90%;
        height: auto;
        fill: var(--primary-color);
        margin-bottom: 1em;
    }

    .info-text {
        max-width: 500px;
        h2 {
            text-align: left;
        }
        h3 {
            margin: 2em 0;
        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            div {
                /* display: flex;
                flex-direction: row; */

                svg {
                    width: 24px;
                    height: 24px;
                    fill: white;
                    margin: 0;
                    background-color: var(--primary-color);
                    border-radius: 50%;
                    float: left;

                }

                p {
                    margin: 0;
                    margin-left: 2.4em;
                    font-size: .95rem;
                }
            }

        }

        .cs-button {
            margin: 2em 0;
        }
    }
}

/* tablet */
 @media screen and (min-width: 600px) {
    .product-info {
        svg {
            max-width: 400px;
        }
    }
} 

/* desktop */
@media screen and (min-width: 1023px) {
    .product-info {

        flex-direction: row;
        justify-content: space-between;
        gap: 3em;

        svg {
            order: 1;
            max-width: 500px;
        }
        /* .info-text {

        } */
    }
}



/* TESIMONIALS SECTION */
.testimonials {
    /* margin-bottom: 4em; */

    .container {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        margin-top: 2em;
        align-items: center;

        .testimonial {
            border: 1px solid #d9d9d9;
            padding: 1.2em;
            border-radius: 10px;
            max-width: 300px;

            svg {
                height: 50px;
                width: 50px;
            }

            div {
                height: 1px;
                width: 100%;
                background-color: #d9d9d9;
            }

            .name {
                font-weight: 600;
                font-size: 1.2rem;
            }
        }
    }
}

/* desktop */
@media  screen and (min-width: 1023px) {
    .testimonials {
        h2 {
            margin-bottom: 2em;
        }
        .container {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/* MEDIA QUERIES */
@media screen and (min-width: 400px) {
    .cs-button {
        width: 170px;
    }
}