---
title: About
layout: layouts/base.njk
permalink: '/about'
---
{# stylesheet link #}
 {% block head %}
 <link rel="stylesheet" href="../assets/css/about.css">
 {% endblock %}

{# hero section #}
<section class="hero">
    <h1>About page</h1>

    <p>Elit pellentesque habitant morbi tristique senectus et. In metus vulputate eu scelerisque felis imperdiet. Laoreet id donec ultrices tincidunt arcu non sodales neque.
         Viverra nam libero justo laoreet sit amet cursus sit amet. Amet justo donec enim diam vulputate ut pharetra sit. Tristique risus nec feugiat in fermentum posuere.
          Nulla pharetra diam sit amet nisl suscipit. Tortor vitae purus faucibus ornare suspendisse sed. Sed ullamcorper morbi tincidunt ornare.
         Ac tortor vitae purus faucibus ornare suspendisse sed. Maecenas pharetra convallis posuere morbi leo urna. Nec ultrices dui sapien eget mi proin sed libero.</p>

    <div class="">
        
        {# img #}

        <div>
            <h2>Mission</h2>
            <p>In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.</p>
        </div>

        <div>
            <h2>Vision</h2>
            <p>In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.</p>
        </div>
    </div>     

<section>


{# our approach #}

<section class="">

   <h2>Our approach</h2>

   <p>In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.</p>

   <div class="cards-container">
         
         <div class="info-card">
            <h3>Strategy</h3>

                <p>In consequat tincidunt turpis sit amet imperdiet.
                     Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.
                      Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet.
                      </p>
         </div>

         <div class="info-card">
            <h3>Strategy</h3>
                
                <p>In consequat tincidunt turpis sit amet imperdiet.
                     Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.
                      Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet.
                      </p>
         </div>

         <div class="info-card">
            <h3>Strategy</h3>
                
                <p>In consequat tincidunt turpis sit amet imperdiet.
                     Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.
                      Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet.
                      </p>
         </div>

         <div class="info-card">
            <h3>Strategy</h3>
                
                <p>In consequat tincidunt turpis sit amet imperdiet.
                     Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis.
                      Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet.
                      </p>
         </div>
      
   </div>

</section>

{# contact form #}

<section class="contact">
  <div>
    <h2>Send us a message</h2>

    <p>Elit pellentesque habitant morbi tristique senectus et. In metus vulputate eu scelerisque felis imperdiet.
         Laoreet id donec ultrices tincidunt arcu non sodales neque. Viverra nam libero justo laoreet sit amet cursus sit amet.
          Amet justo donec enim diam vulputate ut pharetra sit. Tristique risus nec feugiat in fermentum posuere.
         Nulla pharetra diam sit amet nisl suscipit.
          Tortor vitae purus faucibus ornare suspendisse sed. Sed ullamcorper morbi tincidunt ornare. </p>
  </div>

  <form>

    <div>
        <label for="name">name</label>
        <input type="text" id="name" name="name"/>
    </div>

    <div>
        <label for="email">email</label>
        <input type="email" id="email" name="email"/>
    </div>

    <div>
        <label for="message">your message</label>
        <textarea id="message" name="message"></textarea>
    </div>

    <button>submit</button>      

  </form>

</section>    