---
title: Product page
layout: layouts/base.njk
permalink: '/product'
eleventyNavigation:
   key: Product 
   order: 200
---
{# stylesheet link #}
 {% block head %}
 <link rel="stylesheet" href="../assets/css/product.css">
 {% endblock %}

 {# hero section #}
 <section class="hero">

   <h1>Product page</h1>

   <p>Text about our product or services</p>

</section>

{# product cards #}
<section class="products">

  <div class="products-container">
    <div class="product-card">

       <h3>Tier</h3>
       <p>info about product</p>
       <p class="price"><span>$0</span> per month</p>

       <ul>
         <li>includes this</li>
         <li>includes this</li>
         <li>includes this</li>
       </ul>
    </div>

    <div class="product-card">
        
       <h3>Tier</h3>
       <p>info about product</p>
       <p class="price"><span>$5</span> per month</p>

       <ul>
         <li>includes this</li>
         <li>includes this</li>
         <li>includes this</li>
       </ul>
    </div>



  <div class="product-card"> 
        
       <h3>Tier</h3>
       <p>info about product</p>
       <p class="price"><span>$10</span> per month</p>

       <ul>
         <li>includes this</li>
         <li>includes this</li>
         <li>includes this</li>
       </ul>
    </div>

    <div class="product-card">
        
       <h3>Tier</h3>
       <p>info about product</p>
       <p class="price"><span>$15</span> per month</p>

       <ul>
         <li>includes this</li>
         <li>includes this</li>
         <li>includes this</li>
       </ul>
    </div>

  </div>
 
  <a href="#" class="cs-button">Place order</a>
 </section>

 {# FAQ #}
 <section class="faq">

    <h2>Frequently asked questions</h2>

    <div class="questions-container">

        <div class="faq-item">
            {# svg #}
             <img src="../assets/icons/add.svg" alt="add-icon"/>
            <p class="question">Question</p>
            <p class="answer hidden">Answer</p>
        </div>

        <div class="faq-item">
            {# svg #}
            <img src="../assets/icons/add.svg" alt="add-icon"/>
            <p class="question">Question</p>
            <p class="answer hidden">Answer</p>
        </div>  

        <div class="faq-item">
            {# svg #}
            <img src="../assets/icons/add.svg" alt="add-icon"/>
            <p class="question">Question</p>
            <p class="answer hidden">Answer</p>
        </div>      

    </div>    

 </section>